@model MyApp.Models.ViewModel.ProductVM
@{
    ViewData["Title"] = "Index";
}

<h1>List of Categories</h1>

<div class="row">
    <a asp-action="CreateUpdate" asp-controller="Product">Create  Product</a>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Product name
            </th>
            <th>
                Desctiption
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td role="group">
                    <a asp-action="CreateUpdate" asp-controller="Category" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
